*{
    margin:0px;
    padding:0px;
     
    font-family: Arial, Helvetica, sans-serif;
 
}
.navbar{
    background-color:dodgerblue;
    display:flex;
    width:1150px;
    height:70px;   object-fit: cover;
   image-rendering: auto;
    flex-wrap:wrap;
    color:aliceblue;
}
@media(max-width:480px){
  /* max-width:60%; */
}
#navbar:active{
  background-color:white ;
  color:dodgerblue;
}
#navbar{
  padding:2px;
  margin-left:6px;
  font-size: 40px;
  font-weight: bolder;
}
#navbar:hover{
  color:dodgerblue;
  background-color: aliceblue;
}
#nav-home{
    margin-left: 310px;
    display: flex;
     font-size: 28px;
    top:10px;
    text-align-last:-1px;
    /* justify-content: center; */
    padding:20px;
    background-color:aliceblue;
color:dodgerblue;
}
 
 
#nav-about{
     display: flex;
     font-size: 28px;
    top:10px;
    text-align-last:-1px;
    /* justify-content: center; */
    padding:20px;
}
#nav-about:hover{
  background-color: aliceblue;
  color:dodgerblue;
}

#nav-contect{
     display: flex;
     font-size: 28px;
    top:10px;
    text-align-last:-1px;
    /* justify-content: center; */
    padding:20px;
}
#nav-contect:hover{
  background-color:aliceblue;
  color:dodgerblue;
}
.nav-icons{
   
    margin-left:89%;
    padding:16px;
    display: flex;
    margin-top:-6%;
      font-size: 33px;
      color:white;
      gap:2px;
    }
    .nav-icons:hover{
color:dodgerblue;
background-color:aliceblue;
    }
#pre-icon{
  left:2%;
}
#navicon{
     display: flex
;margin-left: 107%;
    font-size: 52px;
    /* top: 2px; */
    margin-top: -40px;
}
.search{
    width:17%;
    height:35%;
    padding:0.2%;
    gap:5%;
    margin-left:9%;
    margin-top:1%;
        border-radius:5%;

}
#icon1{
     font-size:25px;
     color:black;
    width:1%;
    height:42%; 
    background-color: white;
    margin-top:1%;

}
/* menu bar */
nav {
  background-color:white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border:2px solid dodgerblue;
}

nav .logo {
  color: black;
  font-size: 28px;
  font-weight: bold;
}

nav ul {
  list-style:outside;
  display: flex;
  gap: 30px;
}

nav ul li {
  position: relative;
}

nav ul li a {
  color: black;
  text-decoration: none;
  padding: 8px 10px;
  display: block;
}

/* HOVER MENU */
nav ul li:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  top: 40px;
}

/* MEGA MENU BOX */
.mega-menu {
  position: absolute;
  margin-left: -655%;
  top: 90px;
  width: 800px;
  background: #fff;
  padding: 30px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
 
/* MENU COLUMNS */
  .mega-menu .column {
  width: 25%;
}  

.mega-menu .column h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: brown;
}

.mega-menu .column a {
  display: block;
  color: #555;
  padding: 5px 0;
  text-decoration: none;
}

.mega-menu .column a:hover {
  color: royalblue;
}
.main .text-1{
  background-color: dodgerblue;
  width:100%;
  height:50px;
  font-size: 15px;


}  
 .text-1 {
  width:95%;
 height:95%;
background-color: pink;
border-radius: 7px;
  }
  .text-1 button{
 padding:7px;
 border:1px solid black;
 margin:5px;
 margin-left:8%;
 border-radius:5px;
 color:dodgerblue;
 
 }
 .text-1 button:hover{
  transform:translateY(-10px)  ;
 }
 /* prduct-section */
 

  .img-1 img {
 
  border:2px solid dodgerblue;
  border-bottom:50px solid dodgerblue;
  border-radius: 5%;
 }  .img-2 img {
 
  border:2px solid dodgerblue;
  border-bottom:50px solid dodgerblue;
  border-radius: 5%;
 }  .img-3 img {
height:230px;
 width:260px;
  border:2px solid dodgerblue;
  border-bottom:50px solid dodgerblue;
  border-radius: 5%;
 }  .img-4 img {
 
  border:2px solid dodgerblue;
  border-bottom:50px solid dodgerblue;
  border-radius: 5%;
 }
  
 .Producta{
  display:flex;

 }
.Producta  img{
    position: sticky; 
    top:0px;
  width: 150px;      
  height: 150px; 
 margin:10px;   object-fit: cover;
   image-rendering: auto;
border:5px solid dodgerblue;
  display:flex; 
border-radius: 30%;
 margin-left: 5%;
overflow:hidden;
}

.Producta  img:hover{
    /* transform:translatey(-15px)  ; */
      transform: scale(1.1);
      overflow: hidden;  
      transition:  all ease-in-out 0.5s ; 
 }
 .Product-sec  {
        display:flex;
        gap:3%;
        width:1100px;
        height:400px;
        border:2px solid aqua ;
     }
    .Product-sec  img{
border-radius: 10px;
   object-fit: cover;
   image-rendering: auto;
 position :relative ;
 top:-56%;
margin-left:10%;}
.Product-sec-text{
  top:213%;

  left:55%;
  position: absolute;
}
.Product-sec  h4{
  color:dodgerblue;

}
.cart-btn{
  background-color:dodgerblue;
  color: white;
  padding:0.6%;
  border-radius:15px;
  font-size:20px;
}
.select-btn{
 background-color:dodgerblue;
  color: white;
  padding:0.6%;
  border-radius:15px;
  font-size:15px;
}
.Product-sec img{ 
border:5px solid dodgerblue;
position: absolute;
top:197%; 
width:400px;
height:400px; 

}
 /* Offer-images */
 * .offer{
   display: flex;
  gap: 5px;
 overflow-x: auto;      /*   enables mouse scroll*/
  padding: 5px;
  white-space: nowrap; 
  width:100%;
  height:50%;

 }
.offer img{
    
   width: 1150px;
  height: 400px;
  /* object-fit: cover; */
  flex-shrink: 0;

  display:flex;
  border-radius: 8px; 
}
 .bottom1 img{ 
   display:flex;
  width:300px;
 height:250px;
  position: relative;
 }
.bottom2 img{ 
   display:flex;
   width:300px;
   
 height:250px;
  position: relative;
  display:block;
 }
 .bottom3 img{ 
   display:flex;
   width:300px;
  border-radius: 10px;
 height:250px;
   position: relative;

 } 
#star-i{
  color:yellow;
}
 
#producttexta {
  position: absolute;left:18%;
     top:74%;        /* text vertically center*/
    left:16% ;       /* text horizontally center */
  transform: translate(-50%, -50%);
  color: white;           /* text color */
  font-size: 17px;
  font-weight: bold;
  padding:1%;
  text-shadow: 2px 2px 4px black; /* readability ke liye */
  background: rgba(0, 0, 0, 0.4); /* semi-transparent background */
  /* padding: 10px 20px; */
  border-radius: 8px;
}
#producttextb {
  position: absolute;
  gap:0px;
    top:74%;      /* text vertically center */
  left:46%;     
   padding:1%;          /* text horizontally center */
  transform: translate(-50%, -50%);
  color: white;           /* text color */
  font-size: 17px;
  font-weight: bold;
  text-shadow: 2px 2px 4px black; /* readability ke liye */
  background: rgba(0, 0, 0, 0.4); /* semi-transparent background */
  /* padding: 10px 20px; */
  border-radius: 8px;
}
#producttextc {
  position: absolute;
   top:74%;         /* text vertically center */
  left:76%;    
   padding:1%;           /* text horizontally center */
  transform: translate(-50%, -50%);
  color: white;   
          /* text color */
  /* width:100px; */
  background-color: rgb(73, 40, 25);
  /* height: 100px; */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 2px 2px 4px black; /* readability ke liye */
  background: rgba(0, 0, 0, 0.4); /* semi-transparent background */
  /* padding: 10px 20px; */
  border-radius: 8px;
}
 .scroller {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background:  dodgerblue;
  padding: 10px 10px;
  font-size: 22px;
  overflow: hidden;
  font-weight: bold;
}
.scroller img{
   object-fit: cover;
   image-rendering: auto;
 margin:2%;
}

.scroller span {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 12s linear infinite;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
  
 * .Producta {
 display: flex;
  gap: 5px;
 overflow-x: auto;      /*   enables mouse scroll*/
  padding: 5px;
  white-space: nowrap; 
}

  .Producta img {
   width: 300px;
  height: 350px;
  object-fit: cover;
  flex-shrink: 0;
  display:flex;
  border-radius: 8px; 
}

/* Optional scrollbar styling */
 .Producta::-webkit-scrollbar {
  height: 8px;
}

.Producta::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.Producta::-webkit-scrollbar-track {
  background: #eee;
}
 .Product-sec  {
        display:flex;
        gap:3%;
        width:1100px;
        height:400px;
        /* border:2px solid aqua ; */
     }
    .Product-sec  #newImg{
border-radius: 10px;
   object-fit: cover;
   image-rendering: auto;
 position :relative ;
 top:5%;
margin-left:10%;}
.Product-sec-text{
  top:40%;
 left:55%; 
  position: absolute;
}
.Product-sec  h4{
  color:dodgerblue;

}
.cart-btn{
  background-color:dodgerblue;
  color: white;
  padding:0.6%;
  border-radius:15px;
  font-size:20px;
}
.select-btn{
 background-color:dodgerblue;
  color: white;
  padding:0.6%;
  border-radius:15px;
  font-size:15px;
}
.Product-sec img{ 
border:5px solid dodgerblue;
position: absolute;
top:197%; 
width:400px;
height:400px; 
}
#img-1{
  width:100%;
  height:80%;
  position: absolute;
 image-rendering: auto;
}main .recipes-container{
 display:grid;
 grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
 gap:20px;
  justify-content: space-between;
  padding:30px;
  /* border: 10px solid black; */
margin-left:3%;
/* background-color:bisque;   */
}

.recipes-container img{
  width:80%;
   border-radius:5px;
 height:50%;
 position:relative;

 display:flexbox;
 justify-content: space-between;
}
.offbtn{
  background-color:rgb(83, 220, 83);
  font-size: 15px;
  border-radius:10px;
  /* position: absolute; */
  border:1px solid white;
  padding:3px;
  left:22%;
  bottom:-353%;
}
.recipe-img{
 background-color: dodgerblue;
  border-bottom: 5px solid pink;

}
.recipe-card{
  border:1px solid dodgerblue;
  text-align: start;
  padding:20px;
gap:20px;  animation:spin 4.5s linear  ;

border-radius: 10px;
 }
.recipe-card h4{
  color:gray;
  font-size: 25px;
 }
.recipe-card h1{
 left:73%;
 bottom:13%;
position:  relative;
}#like {
  font-size: 45px;
  cursor: pointer;
  color:beige;          /* default color */
  transition: 0.3s;
  margin-left:110px;
  /* border:2px solid black; */
}#like.liked {
  color: red;           /* after click */
 
}.recipe-card button{
color:white;
background-color: dodgerblue;
font-size:19px;
 top:0%;
border-radius: 5px;
} .bottom-2{
  font-size: 25px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: dodgerblue;
  position: absolute;

}
.bottom-2 img{
  border:0px solid dodgerblue;
 position: relative;
  margin-left: 0px;
  box-shadow:5px 5px 8px grey;
  filter: drop-shadow(8px 8px 10px gray);
   filter: blur(3px);
  filter: brightness(60%) contrast(110%);}
  
.sectiona {
  font-size: 35PX;
  margin-left: 5PX;
  margin-bottom: -27%;
  bottom:75%;
  position:absolute;
color:white;
}
.sectiona h3{
color:dodgerblue;
}
#SECTIONB {
  font-size: 35PX;
  margin-left: 37%;
margin-top:-45%;
position: relative;
  color:white;
}
#SECTIONB i{
color:rgb(245, 237, 237);
}

#SECTIONB h3{
  color:dodgerblue;
}
#sectionc{
  font-size: 35PX;
margin-left:64%;
margin-top:8%;
position:relative;
  color:white;
}

#sectionc h2{
  color:dodgerblue;
}
#sectionc input{
  font-size: 20px;
  border-radius:10px;
}
#btn6{
  font-size: 25px;
   background-color:antiquewhite;
   color:black;
   border-radius: 10px;
   
}
#last{
  color:dodgerblue;
margin-left:35%;
font-size: 50px;
}#Back{
 
  font-size: 250%;
  color:dodgerblue;
   left:85%;
  position: absolute;
}
#Back:hover{
    transform: scale(1.1);   
transition: 0.5s ease-in;
text-shadow: 8px 5px 8px white;
}

